@page "/"

<div class="relative min-h-screen overflow-hidden bg-base-200">
    <!-- Use iframe as background -->
    <div class="absolute inset-0">
        <iframe src='https://my.spline.design/-ef0c802e8b2281e3380726701940cf34/' frameborder='0' width='100%' height='100%' class="w-full h-full"></iframe>
    </div>

    <div class="absolute inset-x-0 bottom-0 flex justify-center items-center z-10 p-6">
        <div class="flex justify-center items-end h-screen">
            <NavLink href="/generate" class="btn bg-purple-500 text-white rounded-md px-6 py-3 transition-transform transform hover:scale-105 hover:bg-purple-600">
                Find Gift!
            </NavLink>
        </div>
    </div>
</div>
